@charset "UTF-8";
 body {
  font-family: 'Georgia', serif;
  background: linear-gradient(to bottom, #fff, #f8f8f8);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}
main {
    flex-grow: 1;
}
.booking-container {
  text-align: center;
  padding: 90px 20px;
  flex:1;
}

.booking-title {
  font-size: 40px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #999;
  max-width: 100px;
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
  margin-right:50px;
}

.sidebar {
  width: 220px;
  flex-shrink: 0;
}

.main-content {
  flex-grow: 1;
}

.reservation-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.reservation-card {
  width: 100%;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  min-height: 320px;
  overflow-x: auto;
}

.menu-item {
  display: block;
  padding: 15px 10px;
  color: #555;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  margin-left: 10px;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

.menu-item.active {
  background-color: #f5f1e9;
  color: #b89644;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  font-size: 18px;
}
h2 {
      text-align: left;
      margin-bottom: 20px;
    }.benefit-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f7f6f6;
}

.offer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; /* adjust as needed */
}

.offer-box {
    background-color: #f7f6f6;
    padding: 20px 40px;
    text-align: center;
    width: 100%; /* increase width */
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Georgia', serif;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left:300px;
}

.offer-link {
    text-decoration: underline;
    color: #000;
}

.offer-link:hover {
    color: #b89644;
}
    