.hero-section {
  background: url(../images/image1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.hero-overlay {
  background-color: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  padding: 2rem;
}


