@charset "UTF-8";
body {
  font-family: 'Georgia', serif;
  background: linear-gradient(to bottom, #fff, #f8f8f8);
  margin: 0;
  padding: 0;
}

.booking-container {
  text-align: center;
  padding: 90px 20px;
}

.booking-title {
  font-size: 32px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #999;
  max-width: 100px;
}

.popup-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-form {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 500px;
  max-width: 95%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-left:500px;
}

.popup-form h2 {
  margin-bottom: 20px;
  font-family: 'Georgia', serif;
  font-size:35px;
}

.popup-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  font-size: 1rem;
}

.popup-form button {
  background-color: #b89644;
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.popup-form button:hover {
  background-color: #9c7a2b;
}

/* Form Styling */
.name-row,
.contact-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.select-input,
.name-row input,
.contact-row input,
.popup-form input,
.popup-form textarea {
  flex: 1;
  padding: 0.6rem;
  border: none;
  border-bottom: 1px solid #888;
  font-size: 1rem;
  background: transparent;
}

.select-input:focus,
.popup-form input:focus,
.popup-form textarea:focus {
  border-color: #b88a44;
  outline: none;
}

.booking-inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  color: #333;
}

.input-group label {
  margin-top: 0.5rem;
  font-weight: 500;
  margin-right:330px;
  font-family: 'Georgia', serif;
}

.input-group input[type="date"],
.input-group select {
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 0.5rem 0;
  font-size: 1rem;
  background: transparent;
  width: 100%;
  color: #444;
 
}
.event-guest-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.event-guest-row select {
  flex: 1;
  padding: 0.6rem;
  border: none;
  border-bottom: 1px solid #888;
  font-size: 1rem;
  background: transparent;
  color: #444;
}

.event-guest-row select:focus {
  border-color: #b88a44;
  outline: none;
}